# Android / Gradle
.gradle/
build/
app/build/
app/.cxx/
local.properties

# Android Studio
.idea/
*.iml

# Python
.venv/
ai/.venv/
__pycache__/
*.pyc

# C++ / Visual Studio
.vs/
x64/
Debug/
Release/
*.exe
*.pdb
*.ilk
*.obj
*.log

# OS
.DS_Store
Thumbs.db**/application.properties 
